* {
    box-sizing: border-box;
}

html {
    height: 270vh;
    background: rgb(212, 208, 172);
}

body {
    margin: 0;
}

a {
    text-decoration: none;
}

.nav-a,
.head-section,
.block p,
.btn-lab label,
.btn-lab button,
.div-block input,
.dropdown-content {
    font-family: "JetBrains Mono";
    color: #000;
}

nav {
    position: fixed;
    width: 100vw;
    height: 65px;

    display: flex;
    justify-content: center;
    align-items: center;

    background-color: rgb(158, 175, 210);
    border-bottom: solid;
}

.logo {
    height: 40px;
}

.dropdown-content {
    transition: opacity 0.7s ease-in-out;
    opacity: 0;
    height: 0;
    overflow: hidden;

    position: absolute;
    border-radius: 2vh;

    background-color: rgba(0, 255, 255, 0.7);

    text-align: center;
}

.dropdown:hover .dropdown-content {
    opacity: 1;
    width: 288px;
    height: 460px;
}

.nav-a {
    margin-left: 40px;
    font-weight: bold;
}



.anchor {
    position: absolute;
    margin-top: -40vh;
}

.anchor-top {
    position: absolute;
    left: 0;
    top: 0;
}

.block {
    margin-top: 40vh;
    height: 280px;
    width: 500px;

    border: solid #000;
    border-radius: 20px;

    background-color: rgb(158, 175, 210);
}

.block:last-child{
    height: 400px;
}

.head-section {
    margin: 0px;
    height: 65px;

    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 20px;
    font-weight: bold;
}

.block p {
    display: flex;
    justify-content: center;
    align-items: center;
}

.div-block {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.div-block input,
.btn-lab button,
.btn-lab label {
    font-size: 14px;
    text-align: center;
}

.div-block input:first-child {
    margin-right: 20px;
}

.div-block input {
    text-align: center;

    height: 35px;
    width: 60px;

    border-radius: 5px;
    border: none;
    outline: none;

    background: rgb(207, 80, 80);
}

.btn-lab {
    margin-top: 20px;

    display: flex;
    justify-content: center;
    align-items: center;
}

.btn-lab button {
    height: 35px;
    width: 60px;

    margin-right: 20px;

    display: flex;
    justify-content: center;
    align-items: center;

    border: solid #000;
    border-radius: 5px;
}

.btn-lab label {
    height: 35px;
    width: 60px;

    display: flex;
    justify-content: center;
    align-items: center;

    border-radius: 5px;
    border: none;
    outline: none;

    background-color: aquamarine;
}

.explaining{
    margin-top: -3px;
    text-align: center;
}

.textarea {
    border-radius: 5px;
    border: none;
    outline: none;

    background: rgb(207, 80, 80);
}